

  .app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .txt-intro {
    text-align: center;
    color: gray;
  }

  .icon-loading {
    height: 40px;
    margin: -15px;
  }